.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}
.loader {
    height: 150px;
    width: fit-content;
    display: flex;
    flex-direction: row;
}
.line:nth-of-type(1) {
    animation: bob 1s infinite alternate;
    animation-delay: calc(1 * 0.1s);
}
.line:nth-of-type(2) {
    animation: bob 1s infinite alternate;
    animation-delay: calc(2 * 0.1s);
}
.line:nth-of-type(3) {
    animation: bob 1s infinite alternate;
    animation-delay: calc(3 * 0.1s);
}
.line:nth-of-type(4) {
    animation: bob 1s infinite alternate;
    animation-delay: calc(4 * 0.1s);
}
.line:nth-of-type(5) {
    animation: bob 1s infinite alternate;
    animation-delay: calc(5 * 0.1s);
}
.line:nth-of-type(6) {
    animation: bob 1s infinite alternate;
    animation-delay: calc(6 * 0.1s);
}
.loading-text {
    letter-spacing: 2px;
    color: #383836;
    font-size: 1.3em;
}
.divider {
    width: 80px;
    height: 5px;
    border-radius: 20px;
    background: #383836;
    opacity: 0.4;
}
.line {
    height: 90px;
    width: 5px;
    background: grey;
    border-radius: 20px;
    margin: 2px;
}
@keyframes up-down {
    from {
        margin-top: 10px;
    }
    to {
        margin-top: 0;
    }
}
@keyframes bob {
    from {
        height: 50px;
    }
    to {
        background: #f70;
        height: 100px;
        width: 15px;
        margin: 10px;
    }
}